.com-layout-section .section-hero-light {
  background: #fefefe;
  background: linear-gradient(90deg, #fefefe 0%, #fafafa 55%);
  color: #111; }

.com-layout-section .section-hero-dark {
  background: #333;
  background: linear-gradient(90deg, #333 0%, #3c3c3c 85%);
  color: white; }

.com-layout-section .section-0 {
  background: #fefefe;
  background: linear-gradient(90deg, #fefefe 0%, #fafafa 55%);
  color: #111;
  border-radius: 1.5rem 1.5rem 0rem 0rem;
  margin-top: -1.5rem; }

.com-layout-section .section-1 {
  background: #111111;
  background: linear-gradient(0deg, #111111 0%, #555555 100%);
  color: white;
  border-radius: 1.5rem 1.5rem 0rem 0rem;
  margin-top: -1.5rem; }

.com-layout-section .section-2 {
  background: #f6f6f6;
  background: linear-gradient(180deg, #f6f6f6 0%, #d7d7d7 100%);
  color: #444;
  border-radius: 1.5rem 1.5rem 0rem 0rem;
  margin-top: -1.5rem; }

.com-layout-section .section-3 {
  background: #fff;
  background: linear-gradient(180deg, #fff 0%, #eee 75%);
  color: #333;
  border-radius: 1.5rem 1.5rem 0rem 0rem;
  margin-top: -1.5rem; }

.com-layout-section .section-last {
  background: #999;
  background: linear-gradient(180deg, #999 0%, #333 300%);
  color: white;
  border-radius: 1.5rem 1.5rem 0rem 0rem;
  margin-top: -1.5rem; }

.com-layout-section .section-category {
  font-size: 0.9em;
  line-height: 1.0rem;
  font-weight: bold;
  text-transform: uppercase; }

.com-layout-section .section-title {
  font-size: 2.25em;
  line-height: 3.0rem;
  padding-bottom: 0.5rem; }

.com-layout-section .section-title-2 {
  text-transform: uppercase;
  font-size: 1.2em;
  line-height: 1.6rem; }

.com-layout-section .section-text {
  font-size: 1.0em;
  line-height: 1.75rem;
  text-align: justify; }
  .com-layout-section .section-text a, .com-layout-section .section-text span, .com-layout-section .section-text div, .com-layout-section .section-text p, .com-layout-section .section-text ul, .com-layout-section .section-text li {
    font-size: 0.95em;
    line-height: 1.75rem;
    padding-bottom: 0.25em; }
  .com-layout-section .section-text ul, .com-layout-section .section-text ol {
    padding-left: 1rem; }

.com-layout-section .section-text-smaller {
  font-size: 0.75em;
  line-height: 1.25rem;
  color: inherit; }
  .com-layout-section .section-text-smaller a, .com-layout-section .section-text-smaller span, .com-layout-section .section-text-smaller div, .com-layout-section .section-text-smaller p {
    font-size: 0.95em;
    line-height: 1.75rem;
    color: inherit; }

.com-layout-section .section-text-smallest {
  font-size: 0.60em;
  line-height: 1rem;
  color: inherit; }
  .com-layout-section .section-text-smallest a, .com-layout-section .section-text-smallest span, .com-layout-section .section-text-smallest div, .com-layout-section .section-text-smallest p {
    font-size: 0.6em;
    line-height: 1rem;
    color: inherit; }

@charset "UTF-8";
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/* Slider */
.slick-loading .slick-list {
  background: #fff url(/res/img/ajax-loader.gif) center center no-repeat; }

/* Icons */
@font-face {
  font-family: "slick";
  src: url("/res/fonts/slick.eot");
  src: url("/res/fonts/slick.eot?#iefix") format("embedded-opentype"), url("/res/fonts/slick.woff") format("woff"), url("/res/fonts/slick.ttf") format("truetype"), url("/res/fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none; }
  .slick-prev:hover, .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    outline: none;
    background: transparent;
    color: transparent; }
    .slick-prev:hover:before, .slick-prev:focus:before,
    .slick-next:hover:before,
    .slick-next:focus:before {
      opacity: 1; }
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
    opacity: 0.25; }
  .slick-prev:before,
  .slick-next:before {
    font-family: "slick";
    font-size: 20px;
    line-height: 1;
    color: white;
    opacity: 0.75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: -25px; }
  [dir="rtl"] .slick-prev {
    left: auto;
    right: -25px; }
  .slick-prev:before {
    content: "\2190"; }
    [dir="rtl"] .slick-prev:before {
      content: "\2192"; }

.slick-next {
  right: -25px; }
  [dir="rtl"] .slick-next {
    left: -25px;
    right: auto; }
  .slick-next:before {
    content: "\2192"; }
    [dir="rtl"] .slick-next:before {
      content: "\2190"; }

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px; }

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%; }
  .slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer; }
    .slick-dots li button {
      border: 0;
      background: transparent;
      display: block;
      height: 20px;
      width: 20px;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      padding: 5px;
      cursor: pointer; }
      .slick-dots li button:hover, .slick-dots li button:focus {
        outline: none; }
        .slick-dots li button:hover:before, .slick-dots li button:focus:before {
          opacity: 1; }
      .slick-dots li button:before {
        position: absolute;
        top: 0;
        left: 0;
        content: "\2022";
        width: 20px;
        height: 20px;
        font-family: "slick";
        font-size: 6px;
        line-height: 20px;
        text-align: center;
        color: black;
        opacity: 0.25;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
    .slick-dots li.slick-active button:before {
      color: black;
      opacity: 0.75; }

.core-ui-list {
  position: relative;
  width: 100%;
  text-align: left; }
  .core-ui-list .layover {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 2;
    text-align: center;
    color: white; }
  .core-ui-list .list {
    filter: none;
    z-index: 1;
    overflow: hidden; }
    .core-ui-list .list .item {
      position: relative; }
      .core-ui-list .list .item .num {
        padding: 0.25rem;
        position: absolute;
        top: 0;
        right: 0;
        font-size: 0.5rem; }
    .core-ui-list .list .item-subheader {
      background-color: white; }
  .core-ui-list .list.blur {
    filter: blur(5px); }
  .core-ui-list .MuiAvatar-colorDefault {
    background-color: transparent;
    border: 1px solid #bababa; }

.topic_list {
  padding: 0rem;
  margin: 0rem;
  width: 100%;
  max-width: 400px;
  background-color: white;
  color: #333;
  display: inline-block; }
  .topic_list .header.colored {
    background-color: #333;
    color: white; }
  .topic_list .header {
    padding: 1rem; }
    .topic_list .header h4 {
      font-weight: bold;
      margin: 0.5rem 0 0.2rem 0; }
    .topic_list .header h6 {
      font-size: 1.3rem;
      line-height: 1.4rem;
      height: 2.8rem;
      margin: 0; }

.topic_list.border {
  border: 1px solid #ccc;
  width: 100%; }

.mod-footer {
  color: white; }
  .mod-footer .section {
    text-transform: lowercase; }
  .mod-footer .link {
    padding: 0.5rem; }

.mobile.mod-footer .link {
  padding: 1.5rem; }

.mod-social-icons {
  display: inline-block;
  text-align: center; }

.mod-social-icons a:hover {
  text-decoration: none; }

.mod-social-icons a i {
  background-color: white;
  background-position: center center; }

.mod-social-icons.sm {
  font-size: 16px !important;
  padding: 0; }

.mod-social-icons.sm a {
  font-size: 1em !important;
  margin-right: 0.15em; }

.mod-social-icons.sm a:last-child {
  margin-right: 0em; }

.mod-social-icons.sm a span {
  font-size: 1em !important; }

.mod-social-icons.sm a i {
  border: 1px solid #cecece;
  font-size: 1em !important;
  line-height: 24px !important;
  border-radius: 6px;
  height: 28px;
  width: 28px;
  padding: 1px 2px; }

.mod-social-icons.lg {
  font-size: 14px !important;
  padding: 0; }

.mod-social-icons.lg a {
  font-size: 1em !important;
  margin-right: 0.5em; }

.mod-social-icons.lg a:last-child {
  margin-right: 0em; }

.mod-social-icons.sm a span {
  font-size: 1em !important; }

.mod-social-icons.lg a i {
  font-size: 1em !important;
  line-height: 32px !important;
  border-radius: 6px;
  height: 38px;
  width: 38px;
  padding-top: 2px; }

