@font-face {
    font-family: Roboto;
    src: url(../Roboto-Light.ttf);
}

body {
    font-family: Verdana, Arial!important;
    font-weight: 100;
}

main{
}

a {
    text-decoration: none;
}

p, div, li, a {
    font-size: 14px;
    text-align: left;
}

h1 {
    font-size: 20px;
    font-weight: 300;
    margin: 5px 0px;
    margin-top: 25px;    
}

h2 {
    font-size: 18px;
    font-weight: 300;
    margin: 5px 0px;
    margin-top: 15px;    
}

h3 {
    font-size: 16px;
    font-weight: 300;
    margin: 5px 0px;
}

h4, h5, h6 {
    font-size: 14px;
    font-weight: 300;
    margin: 5px 0px;
}

.frame {
    padding: 10px;
    min-height: 60vh;
}

.list {
    padding: 10px;
    min-height: 60vh;
}


/************************* Home ******************************/
.home {
    width: 100%;
    height: 100vh;
    display: table;
}

.home .headline{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding: 0px!important;
}

.home .headline > h1{
    font-size: 45px;
    font-weight: 500;
}   

.home .headline > h2{
    font-size: 35px;
    font-weight: 200;
    color: #808080;    
}

/************************* Site ******************************/

.site-title{
    padding-top: 10px;
    margin-top: -40px;
    height: 40px;
    width: 100%;
    text-align: center;
    color: white;
    box-sizing: border-box;
}

.site-title a{
    color: white;
}

.site-title a:hover{
}

.site-title .last_post{
    font-size: 8pt;
    font-weight: 500;
}

.page-title{
    font-weight: 500;
    margin: 10px 0px;
    color: #606060;
    font-size: 25px;
    text-transform: uppercase;
}


/************************* Footer ******************************/
.social-icons{
    display: inline-block;
    text-align: center;
    margin: 20px 0px;
}

.social-icons a{
    margin-right: 2px;
    text-decoration: none;
}

.social-icons a i{  
    background-color: white; 
    background-position: center center;
    line-height: 32px; 
    border-radius: 8px;
    border: 1px solid #a0a0a0;
    height: 38px;
    width: 38px;    
    padding-top: 2px;
}

footer {
    margin: 0;
    text-align: center;    
    padding: 25px 0px;
    background-color: #F8F9FA;
}

footer .footer-div{
    display: inline-block;
}

footer .copyright{
    font-size: 10px;
}

/************************* Other ******************************/

@media  (max-width:1200px) {
    .home > .headline > h1{
        font-size: 50px;
    }   
    .home > .headline > h2{
        font-size: 35px;
    }    
    
    .list {
        padding: 20px;
    }

    .frame {
        padding: 20px;
    }

    .page-title{
        font-size: 35px;
    }

    .tile{
        margin-bottom: 45px;
    }

    .post .content .excerpt {
        font-size: 14px;
    }

    .post p,.post div,.post li, .post a {
        font-size: 18px;
    }

    p, div, li {
        font-size: 18px;
    }

    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 25px;
    }

    h3 {
        font-size: 20px;
    }

    h4, h5, h6 {
        font-size: 18px;
    }    
}

@media(max-width:991px) {
    .home > .headline > h1{
        font-size: 40px;
    }   
    .home > .headline > h2{
        font-size: 25px;
    }    
    
    .list {
        padding: 20px;
    }

    .frame {
        padding: 20px;
    }

    .page-title{
        font-size: 35px;
    }

    .tile{
        margin-bottom: 35px;
    }

    .post .content .excerpt {
        font-size: 14px;
    }

    .post p,.post div,.post li, .post a {
        font-size: 18px;
    }

    p, div, li {
        font-size: 18px;
    }

    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 25px;
    }

    h3 {
        font-size: 20px;
    }

    h4, h5, h6 {
        font-size: 18px;
    }    
}

@media(max-width:768px) {
    .home > .headline > h1{
        font-size: 35px;
    }   
    .home > .headline > h2{
        font-size: 25px;
    }    
    
    .list {
        padding: 15px;
    }

    .frame {
        padding: 15px;
    }

    .page-title{
        font-size: 25px;
    }

    .tile{
        margin-bottom: 35px;
    }

    .post .content .excerpt {
        font-size: 10px;
    }

    .post p,.post div,.post li, .post a {
        font-size: 14px;
    }

    p, div, li {
        font-size: 14px;
    }

    h1 {
        font-size: 20px;
    }

    h2 {
        font-size: 18px;
    }

    h3 {
        font-size: 16px;
    }

    h4, h5, h6 {
        font-size: 14px;
    }    
}

@media(max-width:640px) {
    .home > .headline > h1{
        font-size: 30px;
    }   
    .home > .headline > h2{
        font-size: 20px;
    }    

    .list {
        padding: 10px;
    }

    .frame {
        padding: 10px;
    }

    .page-title{
        font-size: 25px;
    }

    .tile{
        margin-bottom: 25px;
    }

    .post .content .excerpt {
        font-size: 10px;
    }

    .post p,.post div,.post li, .post a {
        font-size: 14px;
    }

    p, div, li {
        font-size: 14px;
    }

    h1 {
        font-size: 20px;
    }

    h2 {
        font-size: 18px;
    }

    h3 {
        font-size: 16px;
    }

    h4, h5, h6 {
        font-size: 14px;
    }    
}

@media(max-width:375px) {
    .home > .headline > h1{
        font-size: 25px;
    }   
    .home > .headline > h2{
        font-size: 15px;
    }    

    .list {
        padding: 10px 20px;
    }

    .frame {
        padding: 10px 20px;
    }

    .page-title{
        font-size: 25px;
    }

    .tile{
        margin-bottom: 25px;
    }

    .post .content .excerpt {
        font-size: 8px;
    }

    .post p,.post div,.post li, .post a {
        font-size: 12px;
    }

    p, div, li, a {
        font-size: 12px;
    }

    h1 {
        font-size: 20px;
    }

    h2 {
        font-size: 18px;
    }

    h3 {
        font-size: 16px;
    }

    h4, h5, h6 {
        font-size: 14px;
    }    

}

.not-released{
    display: none;
}