@import url("https://fonts.googleapis.com/css?family=Anton|Open+Sans:300,400,600,600i,700");
body#gameday_index {
    min-width: 100%;
    padding-top: 0;
    background: #000;
}

@font-face {
    font-family: "mlb_primary";
    font-style: normal;
    font-weight: 700;
    src: url("https://prod-gameday.mlbstatic.com/responsive-gameday-assets/1.2.0/fonts/benton_sans_cond_medium/benton_sans_cond_medium.eot?") format("embedded-opentype"), url("https://prod-gameday.mlbstatic.com/responsive-gameday-assets/1.2.0/fonts/benton_sans_cond_medium/benton_sans_cond_medium.woff") format("woff"), url("https://prod-gameday.mlbstatic.com/responsive-gameday-assets/1.2.0/fonts/benton_sans_cond_medium/benton_sans_cond_medium.ttf") format("truetype"), url("https://prod-gameday.mlbstatic.com/responsive-gameday-assets/1.2.0/fonts/benton_sans_cond_medium/benton_sans_cond_medium.svg#webfonts95gIXMx") format("svg");
}

@font-face {
    font-family: "mlb_primary_regular";
    src: url("https://prod-gameday.mlbstatic.com/responsive-gameday-assets/1.2.0/fonts/benton_sans_cond_regular/benton_sans_cond_regular.eot?") format("embedded-opentype"), url("https://prod-gameday.mlbstatic.com/responsive-gameday-assets/1.2.0/fonts/benton_sans_cond_regular/benton_sans_cond_regular.woff") format("woff"), url("https://prod-gameday.mlbstatic.com/responsive-gameday-assets/1.2.0/fonts/benton_sans_cond_regular/benton_sans_cond_regular.ttf") format("truetype"), url("https://prod-gameday.mlbstatic.com/responsive-gameday-assets/1.2.0/fonts/benton_sans_cond_regular/benton_sans_cond_regular.svg#webfonts95gIXMx") format("svg");
}

@font-face {
    font-family: "gameday-icons";
    font-style: normal;
    font-weight: normal;
    src: url("https://prod-gameday.mlbstatic.com/responsive-gameday-assets/1.2.0/fonts/gameday_icons/icons.ttf?fgxt3f") format("truetype"), url("https://prod-gameday.mlbstatic.com/responsive-gameday-assets/1.2.0/fonts/gameday_icons/icons.woff?fgxt3f") format("woff"), url("https://prod-gameday.mlbstatic.com/responsive-gameday-assets/1.2.0/fonts/gameday_icons/icons.svg?fgxt3f#icons") format("svg");
}

html {
    font-family: "Helvetica Neue","Helvetica","Arial",sans-serif;
    font-size: 10px;
    font-weight: 50;
    color: rgb(51, 51, 51);
}

body{
    background-color: #e2e2e2!important;
}

a {
    text-decoration: none;
    color: inherit;
    outline: none;
}

a:hover{
    text-decoration: none;
}

.nav-pills{
    padding: 5px 5px;
    width: 100%;
    display: inline-flex;
    font-family: "mlb_primary", Arial;
    box-shadow: none!important;
    background-color: transparent!important;
}

.nav-pills .pill{
    padding-top: 4px;
    border: 1px solid #888;
    border-left: 0px;
    flex: 1;
    background-color: white;
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    color: #444!important;
}

.nav-pills .pill:first-child{
    border-radius: 5px 0px 0px 5px;
    border-left: 1px solid #888;
}

.nav-pills .pill:last-child{
    border-radius: 0px 5px 5px 0px;
}

.nav-pills .pill:hover{
    background-color: #fff!important;
}

.nav-pills .pill.active{
    background-color: #fff!important;
}

.nav-pills2{
    padding: 5px 2px;
    width: 100%;
    display: inline-flex;
    font-family: "mlb_primary", Arial;
    box-shadow: none!important;    
    background-color: transparent!important;    
}

.nav-pills2 .pill{
    border: 0px;
    flex: 1;
    background-color: white;
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    color: #444!important;
}

.nav-pills2 .pill:hover{
    border-bottom: 2px solid #0c3c56;
    background-color: white;
}

.nav-pills2 .pill.active{
    border-bottom: 2px solid #0c3c56;
    background-color: white;
}

.table{
    padding: 0px;
    margin: 0px;
}

.table tr{
    margin: 0px;
    background-color: #white;
}

.table tr:nth-child(even){
    background-color: #eee;
    color: #444;
}

.table th{
    margin: 0px;
    padding: 5px 0px;
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: bold;
}

.table td{
    margin: 0px;
    padding: 7px 0px;
}

.table td span.num{
    font-size: 1rem;
    color: #888;
    width: 10px;
    display: inline-block;
    text-align: right;
}

.table td.s10{
    width: 10px;
}

.table td.s25{
    width: 25px;
}

.table td.s40{
    width: 40px;
}

.table td:first-child{
    padding-left: 5px;
}

.table td.sfit{
    width: 100%;
    padding-left: 5px;
}

.table td.center{
    text-align: center;
}

.table td.right{
    text-align: right;
}

.table td.name{
    text-align: left;
}

.scrollable{
    overflow-x: scroll;
    overflow-y: scroll;
}

.scrollableX{
    overflow-x: scroll;
    overflow-y: hidden;
}

.scrollableY{
    overflow-x: hidden;
    overflow-y: scroll;
}

.mod-labs .space {
    padding-top: 30px;
}

.mod-labs .text {
    text-align: center;
}

.mod-labs .text h1 {
    font-size: 2rem;
    font-weight: 700;

    color: #606060;
}

.mod-labs .frame img {
    padding: 5px;
    border: 1px solid #606060;
    border-radius: 2px;
    background-color: white;
}

.logo {
    width: 60px;
    margin-top: 8px;
    margin-right: 10px;
}

.main-toolbar-button {
    font-size: .75rem;
}

.mod-crumbs { 
}

.mod-block {
    padding: 14px;
    margin: 0px;
    background-color: white;
    color: rgb(102,102,102);    
    border-bottom: 1px solid #efefef;
}

.mod-block h1 {
    font-family: benton_sans_cond_medium, mlb-primary, "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0px;
    padding: 0px;
    padding-bottom: 7px;
    font-size: 1.6rem;
    line-height: 1.9rem;
    text-transform: uppercase;
}

.mod-breaking-news{
    width: 100%;
    background-color: rgb(204, 0, 0);
    vertical-align: middle;
    text-align: justify;
    color: white;
    font-size: 2.0rem;
    line-height: 2.4rem;
}

.mod-breaking-news b {
    font-weight: 600;
}
  
.mod-breaking-news a:hover{
    text-decoration: underline;
}

.mod-latest-news ul {
    padding: 0px;
    padding-left: 20px;
    font-size: 1.3rem;
    line-height: 2.5rem;
}

.mod-news {
    background-color: white;
}

.mod-news .news {
    margin: 0px;
    padding: 7px 0px 14px 0px;
    border-bottom: 1px solid #efefef;
}

.mod-news .news:last-child {
    border-bottom: 0px;   
}

.mod-news .type1{
    margin-top: -7px;
}

.mod-news .type1 .content{
    padding: 0px 14px;
}

.mod-news .type1 .img img{
    width: 100%;
    margin: 0px;
    padding-bottom: 7px;
}

.mod-news .type1 .content .title {
    font-size: 2.0rem;
    line-height: 2.4rem;
    font-weight: 400;
    color: rgb(51, 51, 51);
    padding-bottom: 7px;
}

.mod-news .type1 .content .text {
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: justify;
    color: rgb(102,102,102);
}

.mod-news .type2{
    padding: 0px 14px;    
}

.mod-news .type2 .content{
    vertical-align: top;
    padding: 0px 7px;
}

.mod-news .type2 .img img{
    width: 100%;
    padding: 0px 7px 14px 7px;
}

.mod-news .type2 .content .title {
    font-size: 1.7rem;
    line-height: 2.1rem;
    font-weight: 400;
    color: rgb(51, 51, 51);
    padding-bottom: 14px;
}

.mod-news .type2 .content .text {
    font-size: 1.6rem;
    line-height: 1.8rem;
    text-align: justify;
    color: rgb(102,102,102);
}

.gameday {
    position: relative;
}

.gameday .bar {
    position: absolute;
    top: 5%;
    z-index: 100;

    width: 30%;
    height: 90%;
    overflow: hidden;
    box-sizing: border-box;

    background-color: rgba(255,255,255,.75);
}

.gameday .bar.left {
    left: 0;
}

.gameday .bar.right {
    right: 0;
}

.mod-games{
    background-color: transparent;
}

.mod-games a:hover{
    text-decoration: none;
}

.mod-games .vertical .item.head {
    padding-top: 15px;   
}

.mod-games .vertical .title{
    width: 100%;
    font-size: 1.3rem;
    font-weight: 600;
}

.mod-games .vertical .date{
    font-size: 1.0rem;
    text-transform: uppercase;
    padding: 0px 7px;
}

.mod-games .vertical .more,
.mod-games .vertical .less{
    font-size: 1.4rem;
    font-weight: 600;
    cursor: pointer;
}

.mod-games .vertical .item {
    border-top: 1px solid #efefef;
}

.mod-games .horizontal {
    overflow-x: scroll;
}

.mod-games .horizontal .item.head {
    text-align: center;
    min-width: 50px;
}

.mod-games .horizontal .title{
    font-size: 0.8rem;
    font-weight: 600;
    display: none;
}

.mod-games .horizontal .date{
    font-size: 1.3rem;
    text-transform: uppercase;
    padding: 7px 0px;
}

.mod-games .horizontal .more,
.mod-games .horizontal .less{
    font-size: 1.4rem;
    font-weight: 600;
    cursor: pointer;
}

.mod-games .horizontal .list {
    display: inline-flex;
    min-width: 100%;
    border: 1px solid #efefef;
}

.mod-games .horizontal .list .item {
    display: inline-block;
    float: left;
    border-right: 1px solid #efefef;
}

.mod-games .item{
    padding: 4px 7px 7px 7px;
    min-width: 105px;
    background-color: white;
}

.mod-games .item:pressed,
.mod-games .item:hover{
    background-color: #efefef;
}

.mod-games .item.head {
    margin: 0;
    background-color: #333;
    height: auto;
    width: auto;
}

.mod-games .item.head{
    color: white; 
}

.mod-games .item .debug {
    font-size: 0.7rem;
}

.mod-games .item .status {
    font-size: 0.98rem;
    font-weight: 600;
    line-height: 1.2rem;
    color: rgb(102, 102, 102);
}

.mod-games .item .ended .status{
    color: rgb(204, 0, 0)!important;
}

.mod-games .item .status2 {
    padding-bottom: 10px;
}

.mod-games .item .team {
    font-size: 1.1rem;
    line-height: 1.4rem;
    font-weight: 600;
}

.mod-games .item .score {
    font-size: 1.1rem;
    line-height: 1.7rem;
    font-weight: 600;
    text-align: right;
}

.mod-games .item .ended .w {
    color: #444!important;
}

.mod-games .item .ended .l {
    color: #A0A0A0!important;
}


.mod-standings{
    font-weight: 50;
    font-size: 1.3rem;
    line-height: 1.6rem;
}

.mod-standings .table .header th{
    background-color: rgb(0, 45, 114);
    color: white;
}

.mod-standings .table .name{
    border-right: 1px solid #efefef;
    font-weight: 600;
}


.mod-game{
    background-color: white;
}

.mod-game .header{
}

.mod-game .body{
}

.mod-game-results {
    position: relative;
    display: table;
    width: 100%;
    height: 46px;
    background-color: #efefef;
}

.mod-game-results .row {
    display: table-row;
    width: 100%;
}

.mod-game-results .team {
    display: table-cell;
    width: 85px;
    height: 46px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;

    font-size: 1.4rem;
    font-weight: 700;

    text-align: center;
    vertical-align: middle;

    color: white;
    background-color: #606060;
}

.mod-game-results .team .fg {
    position: relative;
}

.mod-game-results .team .bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    width: 85px;

    -webkit-transform: skewX(-25deg);
       -moz-transform: skewX(-25deg);
        -ms-transform: skewX(-25deg);
         -o-transform: skewX(-25deg);
            transform: skewX(-25deg);

    background-color: inherit;
}

.mod-game-results .team.away .bg {
    left: 15px;
}

.mod-game-results .team.home .bg {
    left: 85px;

    border-left: 1px solid white;
}

.mod-game-results .team.home .fg {
    left: 0;
}

.mod-game-results .team.away {
    z-index: 11;
    background-color: #0c3c56;
}

.mod-game-results .team.home {
    z-index: 10;
    width: 75px;
    padding-left: 5px;
    background-color: rgb(204, 0, 0);
}

.mod-game-results .marker {
    display: table-cell;
    padding: 5px;
    padding-left: 20px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;

    font-size: .8rem;
    font-style: normal;
    font-weight: 700;

    text-align: center;
    vertical-align: middle;

    color: #606060;
}

.mod-game-results .bases {
    display: table-cell;
    width: 48px;
    padding: 10px 5px 5px 5px;
    margin: 0;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;

    vertical-align: top;
}

.mod-feed .item{
    border-bottom: 1px solid #efefef;
}

.mod-feed .item:last-child{
    border-bottom: 0px;
}

.mod-current-player {
    padding: 5px;
    display: table;
}

.mod-current-player .item{
    border-bottom: 1px solid #efefef;
}

.mod-current-player .item:last-child{
    border-bottom: 0px;
}

.mod-current-player .info{
    display: table-cell;
    line-height: 1.5rem;
    font-size: 1.2rem;
    padding: 5px;
    text-align: justify;
}

.mod-current-player img{
    display: table-cell;
    vertical-align: middle;
    border: 1px solid #444;
    border-radius: 5px;
}

.mod-current-player .info .l1 {
    font-size: 1.0rem;
    line-height: 1.3rem;
    font-weight: 700;
    text-transform: uppercase;   
}

.mod-current-player .info .l2 {
    font-size: 1.4rem;
    line-height: 1.7rem;
    font-weight: 700;
}

.mod-current-player .info .l3 {
    font-size: 0.9rem;
    line-height: 1.2rem;
    text-transform: uppercase;
}

.mod-current-player .result{
    padding: 5px;
    font-weight: bold;
    font-size: 1.4rem;
    text-align: justify;
}

.mod-current-player .pitch {
}

.mod-current-player .pitch .ball {
    border-radius: 10px;
    width: 20px;
    text-align: center;
    background-color: #0c3c56;
    border: 1px solid #606060;
    color: white;
    height: 20px;
    padding-top: 4px;
    font-size: 0.9rem;
    font-weight: bold;
}

.mod-current-player .pitch .call {
    font-size: 1.2rem;
    line-height: 1.5rem;    
    font-weight: bold;
}

.mod-current-player .pitch .other {
    font-size: 1.2rem;
    line-height: 1.5rem;    
    font-weight: bold;
    text-align: justify;
    padding-right: 5px;
}

.mod-current-player .pitch .stats {
    font-size: 1.0rem;
    line-height: 1.5rem;    
}

.mod-current-player .pitch .score {
    font-size: 1.0rem;
    line-height: 1.5rem;    
    text-align: right;
}

.mod-box table{
    width: 660px;
}

.mod-box .table .atbat {
}

.mod-box .table .outs {
}

.mod-box .table .runs {
}

.mod-box .table th {
    background-color: #0c3c56;
    color: white;
}

.mod-box .table td.name {
    padding-left: 7px;
}

.mod-box .table .active {
    color: #0c3c56;
    font-weight: bold;
}

.mod-linescore{
}

.mod-linescore table{
    width: 100%;       
}

.mod-linescore table th{
    font-size: 1.0rem;
    font-weight: 50;
    padding: 5px 0px;
}

.mod-linescore table td{
    font-size: 1.2rem;    
    text-align: center;
    padding: 5px 0px;
}

.mod-linescore table .r{
    font-weight: bold;
}

.mod-linescore table .team{
    text-align: left;
    font-weight: bold;
    padding-left: 7px;
}

.mod-linescore table tr.pitchers{
    font-weight: bold;    
}

.mod-linescore table tr.pitchers td{
    text-align: left;
    padding: 7px;
}

.mod-linescore table.wrap{
    background-color: #efefef;
}

.mod-linescore table.wrap th{
    background-color: #bbb;   
}

.mod-linescore table.wrap tr.pitchers{
    background-color: white;
}

.mod-plays .innings{
    width: 100%;
    text-align: center;
    padding: 10px;
}

.mod-plays .pill.inning{
    font-size: 1.0rem;
    padding: 0px;
    min-width: 10px;
}


.mod-plays .innings .inning{
    font-size: 1.2rem;
    font-weight: bold;
    padding-right: 5px;
}

.mod-plays h1 {
    font-size: 1.5rem;
    line-height: 2.0rem;
    padding: 7px;
    color: white;
    background-color: #444;
}

.right-bar {
    height: 100%;
}

.left-bar {
    height: 100%;
}

.container{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    min-height: 100%;
    height: 100%;
}

.container .row{
    flex: 0;
}

.container .row-flex{
    flex: 1;
    overflow: auto;
    height: 100%;
}

.mod-preview .teams{
    font-size: 1.5rem;
    line-height: 2.0rem;
    font-weight: bold;
}

.mod-preview .scores{
    padding-top: 7px;
    font-size: 1.1rem;
    font-weight: 600;
}

.mod-preview .data{
    font-size: 1.2rem;
    line-height: 2.0rem;
}

.mod-wrap .teams{
    font-size: 1.5rem;
    line-height: 2.0rem;
    font-weight: bold;
}

.mod-wrap .scores{
    padding-top: 7px;
    font-size: 0.9rem;
    font-weight: 600;
}

.mod-wrap .data{
    font-size: 1.2rem;
    line-height: 2.0rem;
}


.mod-game .broadcast{
    font-size: 0.8rem;   
    margin: 40px 20% 20px 20%;
    padding: 20px!important;
    border: 1px solid #606060;
    border-width: 1px 0px 1px 0px;
    line-height: 1.1rem;
}

.mod-debug{
    padding: 5px;
    background-color: #000;
    color: white;
}

.mod-footer{
    padding: 20px 10px 20px 10px;
    background-color : #666;
    color: white;
    margin-top: 20px;
}

.mod-footer .disclaimer,
.mod-footer .copyrights{
    padding-top: 10px;
    font-size: 0.75rem;
    text-align: justify;
}

.mod-records{

}

.mod-records .title{
    font-size: 1rem;    
    font-weight: 600;
}

.mod-records .name{
    font-size: 1.4rem;    
    font-weight: 600;
}

.mod-records .cats{
    font-size: 1rem;    
    color: #AAA;
}

.mod-records .metrics{
    font-size: 1rem;    
    text-transform: uppercase;
    float: right;
}

.mod-records .val{
    font-size: 2rem;
    font-weight: 600;
    float: right;
}

.mod-records .row{
    padding: 5px 0px;
    border-bottom: 1px solid #efefef;
}

.mod-records .row:last-child{
    border-bottom:; 0px;
}

.mod-resume .head{
    position: relative;
}

.mod-resume .head .heading{
    font-size: 2rem;
    line-height: 2.5rem;
    position:absolute;
    bottom:0px;
    right: 0px;
    padding: 10px;
    text-align: right;
    text-shadow: 2px 2px black;
    color: white;
    display: block;
    width: 50%;
    font-weight: bold;
}

.mod-resume .body{
    font-size: 1.5rem;
    line-height: 2rem;
    padding: 5px 10px;
    text-align: justify;
}